<legend><h3>List of Providers</h3></legend>
<div class = "jumbotron">
  <% @providers.each do |provider| %>
    <div class ="row">
      <ul>
        <li>Facility: <a href = "/provider/<%= provider.id %>" ><%= provider.facility_name %></a></li>
      </ul>
    </div>
  <% end %>

  <%= link_to "Home page", "/", class: "btn btn-default" %>


</div>
