<div class = "jumbotron">
  <h1>List of Providers</h1>
  <% @providers.each do |provider| %>
    <div class ="row">
      <ul>
        <li>Username: <a href = "/provider/<%= provider.id %>" ><%= provider.username %></a></li>
      </ul>
    </div>
  <% end %>
</div>
