<div class = "jumbotron">
  <h1>List of Providers</h1>
  <% @providers.each do |provider| %>
    <div class ="row">
      <ul>
        <li>Facility: <a href = "/provider/<%= provider.id %>" ><%= provider.facility_name %></a></li>
      </ul>
    </div>
  <% end %>

  <%= link_to "Home page", "/" %>


</div>
