<div class = "jumbotron">
  <h1>List of Transportation Providers</h1>
  <% @transportations.each do |transport| %>
    <div class ="row">
      <ul>
        <li>Username: <a href = "/transportation/<%= transport.id %>" ><%= transport.username %></a></li>
      </ul>
    </div>
  <% end %>

  <%= link_to "Home page", "/" %>

</div>

