<legend><h3>List of Transportation Providers</h3></legend>
<div class = "jumbotron">
  <% @transportations.each do |transport| %>
    <div class ="row">
      <ul>
        <li>Company name: <a href = "/transportation/<%= transport.id %>" ><%= transport.company_name %></a></li>
      </ul>
    </div>
  <% end %>

  <%= link_to "Home page", "/", class: "btn btn-default" %>

</div>

