<h1>This is a test by Sean. My dog's name is Charlie. He is currently trying to bite me.</h1>

<h3>Hi Sean</h3>
<p>Thanks for contacting kaizen health</p>
<p>We can send someone to pick you up and take you to the hospital</p>
<p>Please down load our app and press the on demand button</p>
<p>We look forward to servicing you!</p>
<p>Kaizen <3 </p>


<%= link_to 'New Patient', patients_path, class: "btn btn-success", method: :create %>
