<div class="jumbotron">
<h1>Kaizen Health</h1>
<h3>Improving access to healthcare for the underserved.</h3>

<%= link_to 'New Patient', patients_path, class: "btn btn-success", method: :create %>

<%= link_to 'New Transportation', "/transportation/new", class: "btn btn-success" %>
</div>