<div class = "jumbotron">
  <h1>List of Patients</h1>
  <% @patients.each do |patient| %>
    <div class ="row">
      <ul>
        <li>Username:<a href = "/patient/<%= patient.id %>" ><%= patient.username %></a></li>
      </ul>
    </div>
  <% end %>

  <%= link_to "Home page", "/" %>

</div>
