<% @rides.each do |ride| %>
  <h4>Patient: <a href="/ride/<%= ride.id %>"><%= ride.patient.first_name %> <%= ride.patient.last_name %></a></h4>
  <p>Appointment: <%= ride.appointment_time %></p>
<% end %>