<div class="jumbotron">
<% if @ride.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@ride.errors.count, "error") %> prohibited this patient from being saved:</h2>
 
    <ul>
    <% @ride.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <h3>New Ride Form</h3>

  <p>This is where the ride will be generated.</p>
</div>